@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css');
/*@import url('./font-style.css');*/

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0; 
    font-size:12px; 
    line-height:1.5; 
    font-family: 'Montserrat', sans-serif; 
    font-weight:400; 
    color:#656b6f;
}

h1, h2, h3, h4, h5, h6 {  
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    line-height:1.25;
}

h1, .h1 { 
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 55px;
    font-weight: 700;
}

h2, .h2 { 
    font-size: 20px;
    line-height: 26px;
    font-family: "PT Serif";
}

h3, .h3 { 
    font-size: 18px;
    line-height: 27px;
    font-family: "PT Serif";
}

h4, .h4 { 
    font-size: 14px;
    line-height: 19px;
    font-family: "PT Serif";
}

h5, .h5 { 
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 2px;
    font-weight: 700;
}

h6, .h6 { 
    font-size: 10px;
    font-weight: 500;
}

img { 
    max-width:100%; 
    height:auto; 
    border:none; 
    vertical-align:middle; 
}

a { 
    text-decoration:none; 
    color:#000;
}

.wrapper { 
    width: 100%; 
    display:block; 
    max-width: 1600px;
    margin: 0 auto; 
}

.clearfix { 
    display:block; 
}

.clearfix:before,.clearfix:after { 
    content:''; 
    width:100%; 
    display:table; 
}

.font__white, .font__white a { 
    color:#fff; 
}

.font__gray{ 
    color:#3b3d40; 
}

.font__black{
    color: #000000;
}

.font__dark__gray{ 
    color:#656b6f; 
}

.uppercase { 
    text-transform: uppercase; 
}

.text__center { 
    text-align:center; 
}

.text__right { 
    text-align:right; 
}

.text__left { 
    text-align:left; 
}

.fl { 
    float:left; 
}

.fr { 
    float:right; 
}

.ma{
    margin: 0 auto;
}

.btn{
    background-color: #2e71f2;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 9px 35px;
}

.w5{
    width: 4%;
}

.w10{
    width: 10%;
}

.w15 { 
    width: 15%; 
}

.w20 { 
    width: 20%; 
}

.w25 {
     width: 25%; 
}

.w30 { 
    width: 30%; 
}

.w33 { 
    width: 33.33%; 
}

.w40 { 
    width: 40%; 
}

.w45{
    width: 45%;
}

.w50 { 
    width: 50%; 
}

.w55{
    width: 55%;
}

.w60 {
    width: 60%; 
}

.w66 { 
    width: 66.66%; 
}

.w70 { 
    width: 70%; 
}

.w75 { 
    width: 75%; 
}

.w80 { 
    width: 80%; 
}
.w90 { 
    width: 90%; 
}
.w100 { 
    width: 100%; 
}

.p1{
    padding:  1% 0 ;
}

.dark__gray{ 
    background-color: #656b6f;
}

.p5 { 
    padding:  5% 0 ;
}

.p7 { 
  padding:  7% 0 ;
}

.m10{
    margin:  0 0 0 8%;
}

.p2{
    padding: 0.8% 2%;
}

.p10{
    padding: 5% 0;
}

.px10{
    padding: 10px 0;
}

/* ************ Left Side ***************** */

.acc__main  div{
    display: none;
}

.hidden{
    display: none !important;
}

.acc__main div:first-child{
    display: block;
}

.acc__active{
    display: block !important;
}

.menu__box{
    border-right: 2px solid #154124;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
    padding: 5%;
}

.menu__box > div, .na__bar > div, .folder__area > div{
    cursor: pointer;
}

.folder__select{
    background-color: rgba(0,0,0,0.1)
}

.red{
    color: red;
}

.disable{
    opacity: 0.5;
}

.na__bar{
    background-color: #36454F;
}

.na__bar h6{
    color: #fff;
}

.file__manager{
    background-color: #36454F;
    color: #fff;
    padding: 7.7%;
    border-right: 1px solid #fff;
}

body{
    background-color: #f5f5f5;;
}

#submit-all{
    float: right;
    background-color: #2e71f2;
    margin: 2% 0 0 0;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 9px 25px;
    color: #fff;
}

.modal-lg {
    width: 700px;
}

input[type=file] {
    padding: 1.3% 0 0 1.3%;
}

.leftTree{
    padding: 1.5% 0;
}

.form__data{
    display: none;
}

.back__one{
    color: red;
}

.dropzone .dz-message{
    margin: 4em 0;
}

.dropzone .dz-message .dz-button{
    font-size: 20px;
    font-family: "PT Serif";
}



